<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669648432556-jp8r0oro4v9f8hb6d2b90639q8af1mtk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669648432556-jp8r0oro4v9f8hb6d2b90639q8af1mtk</string>
	<key>API_KEY</key>
	<string>AIzaSyAFfDRqD_0x2Dkhdo3YTJ2UF4hPS45bMXI</string>
	<key>GCM_SENDER_ID</key>
	<string>669648432556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AutoABI.collect</string>
	<key>PROJECT_ID</key>
	<string>autoabi-ea83c</string>
	<key>STORAGE_BUCKET</key>
	<string>autoabi-ea83c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669648432556:ios:642a67312feb9e487b5e09</string>
	<key>DATABASE_URL</key>
	<string>https://autoabi-ea83c.firebaseio.com</string>
</dict>
</plist>